.idea/
.pytest_cache/
lessons/
data_driven_testing/
echo_server/
waiting_elements/
web_logs_analyzer/
work_with_os/
work_with_testing_data/
.gitignore
.git/
docker-compose.yml
README.md
README.MD
__pycache__/
venv/
